<table border=" solid black">
	<!-- <input type="text" ng-model="search" placeholder="Search By Name" /><br> -->
	<thead>
		<th>Full Name</th>
	</thead>
	<tbody>
		<tr ng-repeat="data in dataset| orderBy : 'fullName'">
			<td>
				<a ui-sref="studentParent.studentDetails({studentId:data.studentId})">{{data.fullName}}</a>
			</td>
<!-- 			<td>
				{{data.phoneNumber}}
			</td>
			<td>
				{{data.level}}
			</td>
			<td>
				{{data.status}}
			</td> -->
<!-- 			<td>
				<a ui-sref="update({studentId:data.studentId})">Update</a>
			</td>
			<td>
				 <button ng-click="deleteRecord(data)">Delete</button>
			</td> -->
		</tr>
	</tbody>
</table>
