<table border=" solid black">
	<!-- <input type="text" ng-model="search" placeholder="Search By Name" /><br> -->
	<thead>
		<th>Full Name</th>
		<th>Phone Number</th>
		<th>Level</th>
		<th>Status</th>
	</thead>
	<tbody>
		<tr>
			<td>
				{{studentDetails.fullName}}
			</td>
			<td>
				{{studentDetails.phoneNumber}}
			</td>
			<td>
				{{studentDetails.level}}
			</td>
			<td>
				{{studentDetails.status}}
			</td>
			<td>
				<a ui-sref="update({studentId:studentDetails.studentId})">Update</a>
			</td>
			<td>
				 <button ng-click="deleteRecord(studentDetails)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>